{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

<link rel="stylesheet" href="bootstrap_5_layout.html">

    <h1>Log in to our service for free</h1>

    <p class="lead"></p>

    <p>Explore the vibrant heart of Latin America through its cinema, exclusively on our streaming service.</p>
    <img src="https://cdngeneral.rentcafe.com//dmslivecafe/UploadedImages/7859372a-0605-44fc-8c4c-64eda0fb94bf.jpg" alt="">
    <div>
        
        
    </div>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fvectors%2Flatin-american-culture.html&psig=AOvVaw0evu2cxh_grOBpGBXIsqL0&ust=1714593733273000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLjh3cjd6oUDFQAAAAAdAAAAABAD" alt="">

{% endblock %}
