{% extends "bootstrap_5_layout.html" %}
{% set page_title = "About Page" %}
{% set active_page = "about" %}

{% block content %}

    <h1>Latin movies</h1>

    <p class="lead">Enjoy the variety of products that Latinamerica offers at the comfort of your house</p>

    <p>Take a journey with us!</p>
    <div>
        
    </div>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fvectors%2Flatin-american-culture.html&psig=AOvVaw0evu2cxh_grOBpGBXIsqL0&ust=1714593733273000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLjh3cjd6oUDFQAAAAAdAAAAABAD" alt="">

{% endblock %}
